
  /* CSS DO INICIO*/

.perfil-container {
  display: flex;
  align-items: center;
  justify-content: center; /* centraliza o conjunto */
  gap: 250px; /* controla o espaço entre imagem e texto */
  flex-wrap: wrap;
  padding: 40px 60px;
}

/* imagem */
.perfil-img {
  width: 350px;
  border-radius: 25px;
  border: 2px solid rgb(148, 150, 108);
  transition: transform 0.3s ease;
}

.perfil-img:hover {
  transform: scale(1.05);
}

/* texto */
.perfil-texto {
  max-width: 450px;
  text-align: left;

}

/* responsividade */
@media screen and (max-width: 768px) {
  .perfil-container {
    flex-direction: column;
    text-align: center;
    padding: 20px;
     gap: 20px;
  }

  .perfil-img {
    width: 70%;
 
  }

  .perfil-texto {
    text-align: center;
  }

  .perfil-texto h1 {
    font-size: 1.7rem;
  }

  .perfil-texto h4 {
    font-size: 1.5rem;
  }
}
