
html{
    scroll-behavior: smooth;
}

nav{
    width: 100%;
    position: fixed;
    text-align: center; 
    background: linear-gradient(#b19284, transparent);
    
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    display: inline-block;
    margin: 15px 15px;
    color: rgb(46, 44, 44);
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: all 0.25s ease-in-out;
}

nav ul li a:hover{
    border-bottom: 3px solid #3d3d3d;
      color: #3d3d3d;
}

.secttion1{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(63.13deg, #bfd6c7 51.04%, #c7bd93 51.05%);
}

.secttion2{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  background-color: #ff7876;
}
.secttion3{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  background-color: #73a39a;
}

.secttion4{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a8c3b3;

}

.secttion5{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2a48f;

}



ul{
    margin: auto;
}
.position{
    position: fixed;
}

.logo{
    
    margin-left: 40px;
}

