@media screen and (max-width: 608px) {
	.um {
        width: auto;
        height: auto;
        background-color: rgb(158, 167, 167);
        font-size: 1.2rem;
	}
	
}
@media screen and (min-width: 608px) {
   .sobre-mim{
    width: 100%;
     height: auto;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 1.5rem;
     overflow:auto;
     border-radius: 5px;
     background-color: rgb(179, 179, 179);
   }
}
.conteiner {
    overflow:auto;
    border-radius: 5px;
    background: linear-gradient(63.13deg, #748f92e3 51.04%, #6a8083be 51.05%);
  
}

.teste{
    background-color: aqua;
    height: 600px;
    width: 600px;
   }

   
.logo{
    width: 100%;
    width: 100px;
    margin: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.7s;
}
.logo:hover{
    transform: rotateY(-360deg);
}


.habilidades-container{
    width: 150px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgba(88, 138, 87, 0.795);
}
.habilidades-container:hover{
    background-color: rgb(75, 228, 152);
}
 
   


 