@media screen and (max-width: 608px) {
	.um {
        width: auto;
        height: auto;
        font-size: 1.2rem;
	}
	
}
.sobre-mim {
  flex: 1.5;
  margin: 10px;
  color: rgb(67, 66, 66);
  margin: 20px;
}

@media screen and (min-width: 608px) {
   .sobre-mim{
    width: 100%;
     height: auto;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 1.5rem;
     overflow:auto;
     border-radius: 5px;
   }
}
.conteiner {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 40px;
  border-radius: 5px;
    padding: 0;
}

.teste{
    background-color: aqua;
    height: 600px;
    width: 600px;
   }

   
.logo{
    width: 100%;
    margin: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.7s;
}

.logo:hover{
    transform: rotateY(-360deg);
}
 
.habilidades {
  flex: 1;
  min-width: 300px;
  margin: 10px;
  text-align: center;
}

.habilidades-container{
    width: 100px;
    margin: 10px;
    border-radius: 5px;
    background-color: #ffc4b3;
    display: flex;
    justify-content: center; /* centraliza horizontal */
    align-items: center;     /* centraliza vertical */
}

.habilidades-container:hover{
    background-color:#f4f1ee;
}
 
   


 